:root {
    /* font-family theme; */
    --font-theme-primary: Inter, sans-serif;

    /* light mode */
    --color-primary-light: #4a5565;
    --color-secondary-light: #6a7282;
    --bg-color-light: #e0e5ec;

    /* dark mode */
    --color-primary-dark: #e4e7ec;
    --color-secondary-dark: #9aa3b2;
    --bg-color-dark: #23262d;

    /* theme color */
    --color-theme-blue: #3b5bdb;
    --color-theme-green: #5DAC81;
    --color-theme-pink: #E16B8C;
}