:root {
    /* font-family theme; */
    --font-theme-primary: Inter, sans-serif;

    /* light theme */
    --color-primary-light: #4a5565;
    --color-secondary-light: #6a7282;
    --bg-color-light: #e0e5ec;

    /* dark theme */
    --color-primary-dark: #ebe6e7;
    --color-secondary-dark: #6a7282;
    --bg-color-dark: #1e1f24;

    /* accent color */
    --color-accent-blue: #3b5bdb;
    --color-accent-green: #5DAC81;
    --color-accent-pink: #E16B8C;
}